
$lightBlue: #98dafc;
$tan: #daad86;
$navyBlue: #1E223F;
$navyBlueLighter: #1A237E;
$red: 	#F65557;

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: $navyBlue;
	height: 100vh;
	width: 100vw;
}

h1 {
	color: white;
	font-family: 'grand hotel', georgia, serif;
	font-style: italic;
	text-align: center;
	font-size: 4.5em;
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 0.5em;
	border-bottom: solid 1px $navyBlue;

}

#app_wrapper {
	background-color: $navyBlue;

	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-300px, -500px);
	padding: 1rem;
	overflow: hidden;
}

#board {
	background-color: $navyBlue;
	height: 600px;
	width: 600px;
	color: white;
	padding: 0px;
	margin: 0px;
	li {
		width: 33.333%;
		height: 100%;
		margin: 0px;
		display: inline-block;
		text-align: center;
		font-size: 2em;
		transition: all 0.2s;
	}
	li:hover {
		background-color: $navyBlueLighter;
		cursor: pointer;

	}
}

#top-row {
	display: flex;	
	height: 33.333%;
	flex-wrap: no-wrap;
}
#middle-row {
	display: flex;	
	height: 33.333%;
	flex-wrap: no-wrap;
}
#bottom-row {
	display: flex;	
	height: 33.333%;
	flex-wrap: no-wrap;
}

#top-left {
	border-right: solid 3px $red;
	border-bottom: solid 3px $red;
}
#top-middle {
	border-left: solid 3px $red;
	border-right: solid 3px $red;
	border-bottom: solid 3px $red;
}

#top-right {
	border-left: solid 3px $red;
	border-bottom: solid 3px $red;
}

#middle-left {
	border-top: solid 3px $red;
	border-right: solid 3px $red;
	border-bottom: solid 3px $red;
}

#middle {
	border-top: solid 3px $red;
	border-right: solid 3px $red;
	border-bottom: solid 3px $red;
	border-left: solid 3px $red;
}

#middle-right {
	border-top: solid 3px $red;
	border-left: solid 3px $red;
	border-bottom: solid 3px $red;
}

#bottom-left {
	border-top: solid 3px $red;
	border-right: solid 3px $red;
}

#bottom-middle {
	border-right: solid 3px $red;
	border-top: solid 3px $red;
	border-left: solid 3px $red;
}

#bottom-right {
	border-left: solid 3px $red;
	border-top: solid 3px $red;

}


footer {
	width: 100%;
	color: $red;
	font-size: 1em;
	text-align: center;
	position: absolute;
	bottom: 20px;
	padding: 4px;
	font-family: 'oswald', helvetica, arial, sans-serif;
	text-transform: uppercase;
	a {
		color: $red;
		text-decoration: none;
		padding: 4px;
		transition: ease all 0.5s;
	}
	a:hover {
		border: solid 1px $red;
	}
}